<h1>Pet#show</h1>
<% if @pet != nil %>
	<%= @pet.type_id %>
	<%= @pet.person_id %>
	<%= @pet.region_id %>
	<%= @pet.sub_region %>
	<%= @pet.sex %>
	<%= @pet.size %>
	<%= @pet.color %><br /> 
	<%= @pet.description %>
	<%= @pet.status %>
	<br />
	<% @pet.pet_photos.each do |photo| %>
		<%= photo.image_url(:thumb) %>
		<%= image_tag photo.image_url(:thumb) %>
		<br/>
	<% end %>
<% end %>